input{
    padding: 0.5rem 0.7rem;
    font-size: 1.3rem;
    width: 40%;
    margin: 1rem 2rem;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
}

a{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 40%;
    text-transform: none;
    text-decoration: none;
    color: black;
    padding: 0.5rem 0.7rem;
    border-radius: 10px;
    background-color: rgb(190, 190, 190);
    border: none;
    outline: none;
    font-size: 1.5rem;

}

textarea{
    padding: 0.5rem 0.7rem;
    font-size: 1.3rem;
    width: 40%;
    height: 10rem;
    margin: 1rem 2rem;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
}